<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.night.mutilpacket">

    <application
        android:name=".MultiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="NIGHT_CHANNEL"
            android:value="${NIGHT_CHANNEL_VALUE}" />
        <meta-data
            android:name="NIGHT_CHANNEL_KEY"
            android:value="${NIGHT_CHANNEL_KEY_VALUE}"/>
        <meta-data
            android:name="UMENG_CHANNEL_VALUE"
            android:value="${UMENG_APPKEY_VALUE}"/>
    </application>

</manifest>